// @import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html {
  scroll-behavior: smooth;
  background-color: rgb(39, 39, 39);
}

body {
  color: var(--text-color);
  font-family: var(--font-main);
}

img {
  display: block;
}

a {
  color: var(--active---regular);
}

a:hover {
  color: var(--accent);
}
