.nav__list {
  display: flex;
  column-gap: 15px;
  justify-content: end;
}

.nav__link {
  font-weight: 700;
  color: var(--basic-white);
}

@media (max-width: 768px) {
  .nav__list {
    justify-content: start;
  }
}
