.section-2 {
  padding: 60px 0;
}

.section-2__thesises {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thesises__menu {
  padding-right: 60px;
  min-width: 375px;
  text-align: right;
}

.thesises__item:not(:last-child) {
  margin-bottom: 30px;
}

.thesises__link {
  font-weight: 700;
  font-size: 38px;
  color: var(--grey---text);
  &:hover {
    color: var(--accent);
  }
  &--active {
    background: linear-gradient(298deg, #ef8080 0%, #f0145a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.thesises__text {
  padding-left: 60px;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
}
.thesises__title {
  color: var(--basic-white);
  margin-bottom: 30px;
  font-size: 30px;
}
.thesises__paragraph {
  color: var(--basic-white);
  font-size: 19px;
  line-height: 1.58;
}

@media (min-width: 1440px) {
  .thesises__menu {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }

  .thesises__text {
    max-width: 861px;
    border-left: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .thesises__menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .thesises__text {
    min-width: 405px;
  }
}

@media (max-width: 1024px) {
  .section-2__thesises {
    flex-direction: column;
    align-items: start;
  }
  .thesises__text {
    padding-left: 0;
    padding-top: 60px;
    border: 0;
  }
  .thesises__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: unset;
    width: calc(100vw - (100vw - 648px) / 2);
    padding-right: 0;
  }
  .thesises__list {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding-bottom: 60px;
  }

  .thesises__item {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .thesises__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .thesises__list {
    padding-bottom: 30px;
  }
  .thesises__text {
    padding-top: 30px;
  }
  // .thesises__menu {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  //   max-width: unset;
  //   width: calc(100vw - (100vw - 540px) / 2);
  //   padding-right: 0;
  // }
}

@media (min-width: 560px) and (max-width: 767px) {
  .thesises__menu {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // max-width: unset;
    width: calc(100vw - (100vw - 540px) / 2);
    // padding-right: 0;
  }
}

@media (max-width: 559px) {
  .thesises__title {
    font-size: 20px;
  }
  .thesises__link {
    font-size: 30px;
  }
  .thesises__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: unset;
    width: 100%;
    // width: calc(100vw;
    padding-right: 0;
  }
}
