.swiper {
  margin-top: 60px;
}
.swiper-slide__flex-wrapper {
  display: flex;
}
.swiper-slide__image-box {
  flex-basis: 30.3%;
  flex-shrink: 0;
}
.swiper-slide__img {
  min-height: 100%;
  min-width: 100%;
}
.swiper-slide__text-box {
  padding: 30px;
}
.swiper-slide__link-wrapper {
  margin-bottom: 5px;
}
.swiper-slide__link {
  font-weight: 700;
}
.swiper-slide__title {
  line-height: 1.3;
  margin-bottom: 30px;
}
.swiper-slide__author {
  font-weight: 700;
  font-size: 16px;
  color: var(--grey---text);
  margin-bottom: 6px;
}
.swiper-slide__position {
  font-size: 14px;
  line-height: 1.57143;
  color: var(--grey---text);
}
